@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.invoice{
    padding: 2rem 1.5rem 9.1875rem 1.5rem;

    &__actions{
        margin-top: 2rem;
        padding: 1.5rem;
        background-color: var(--invoice-bkg);
    }

    &__buttons{
        display: flex;
    }

    &__button{
        @include heading-sv;
        padding: 1.125rem;
        border-radius: 1.5rem;
        
        &--edit{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background-color: var(--btn-secondary);
        }

        &--delete{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &--mark{
            padding-left: 1.75rem;
            padding-right: 1.75rem;
        }
    }
}