@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.invoice{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--invoice-bkg);
    border-radius: 0.5rem;
    position: relative;
    margin-top: 1rem;

    &:first-of-type{
        margin-top: 2rem;
    }

    @include tablet{
        flex-wrap: nowrap;
        position: static;
        padding: 1rem 1.5rem;
        align-items: center;

        &:first-of-type{
            margin-top: 3.4375rem;
        }
    }

    @include desktop{
        padding: 1rem 2rem;

        &:first-of-type{
            margin-top: 4rem;
        }
    }

    &__id{
        @include heading-sv;
        width: 100%;

        @include tablet{
            width: 13%;
        }

        @include desktop{
            width: 14.12%;
        }

        &::before{
            content: "#";
            color: $bluish-gray;
        }
    }

    &__due{
        position: absolute;
        @include body-m;
        color: var(--invoice-due);
        left: 1.5rem;
        bottom: 3.375rem;

        @include tablet{
            position: static;
            width: 21.3%;
        }

        @include desktop{
            width: 20.68%;
        }
    }

    &__name{
        @include body-m;
        color: var(--invoice-name);
        top: 1.5rem;
        right: 1.5rem;
        position: absolute;

        @include tablet{
            position: static;
        }
    }

    &__amount{
        @include heading-s;
        margin-top: 3rem;

        @include tablet{
            margin-top: 0;
            width: 16.37%;
            text-align: end;
            margin-left: auto;
        }
    }

    &__status{
        @include heading-sv;
        color: #33D69F;
        position: absolute;
        padding: 0.8125rem 1.875rem;
        right: 1.5rem;
        bottom: 1.75rem;
        border-radius: 0.375rem;
        display: flex;
        column-gap: 0.5rem;

        @include tablet{
            position: static;
            margin-left: 2.5rem;
        }
        

        &--green{
            background-color: #33D69F0D;

            .invoice__bullet{
                background-color: #33D69F;
            }
        }
    }

    &__bullet{
        position: relative;
        top: 0.125rem;
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 0.25rem;
    }

    &__carret{
        display: none;

        @include tablet{
            display: unset;
            margin-left: 1.25rem;
        }
    }
}