@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header{
    display: flex;
    align-items: center;

    @include desktop{
        flex-direction: column;
        border-radius: 0 1.25rem 1.25rem 0;
    }
}

.logo{
    display: flex;
    position: relative;
    min-width: 4.5rem;
    min-height: 4.5rem;
    max-width: 4.5rem;
    max-height: 4.5rem;
    border-radius: 0 1.25rem 1.25rem 0;
    background-color: $purple;
    align-items: center;
    justify-content: center;

    @include tablet{
        min-width: 5rem;
        min-height: 5rem;
        max-width: 5rem;
        max-height: 5rem;
    }

    @include desktop{
        min-width: 6.4375rem;
        min-height: 6.4375rem;
        max-width: 6.4375rem;
        max-height: 6.4375rem;
    }

    &__bkg{
        display: block;
        position: absolute;
        background-color: $light-purple;
        border-radius: 1.25rem 0 1.25rem 0;
        width: 100%;
        height: 50%;
        bottom: 0;
    }

    &__img{
        position: relative;
        z-index: 1000;

        @include tablet{
            height: 2rem;
            width: 2rem;
        }
    }
}

.user{
    padding: 0 1.25rem;
    border-left: 1px solid #494E6E;
    min-height: 4.5rem;
    display: flex;
    align-items: center;

    @include desktop{
        display: block;
        padding: 1.5rem 0;
        text-align: center;
    }

    &__img{
        max-width: 2rem;
        max-height: 2rem;
        border-radius: 100%;

        @include desktop{
            max-width: 2.5rem;
            max-height: 2.5rem;
        }
    }

    @include desktop{
        border-left: none;
        border-top: 1px solid #494E6E;
        width: 100%;
    }
}