@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000080;
    min-height: calc(100vh - 4.5rem);

    @include tablet{
        min-height: calc(100vh - 5rem);
    }

    @include desktop{
        min-height: 100vh;
    }
}