@use "./variables" as *;

@mixin tablet{
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin heading-l{
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -1.125px;
}

@mixin heading-ml{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.75px;
    line-height: 1.33333;
}

@mixin heading-m{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

@mixin heading-s{
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.25px;
}

@mixin heading-sv{
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.25px;
}

@mixin body-m{
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.15385;
    letter-spacing: -0.1px;
}

@mixin body-mv{
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.1px;
}