@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header{
    display: flex;
    align-items: center;

    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title{
        @include heading-m;

        @include tablet{
            @include heading-l;
        }
    }

    &__count{
        @include body-mv;
        color: var(--invoices-count);
    }

    &__add{
        @include heading-sv;
        display: flex;
        color: #FFFFFF;
        padding: 0.375rem 0.9375rem 0.375rem 0.375rem;
        margin-left: 1.125rem;
        border-radius: 1.5625rem;
        align-items: center;

        &--show{
            display: none;

            @include tablet{
                display: unset;
            }
        }
    }

    &__plus{
        position: relative;
        color: $purple;
        min-height: 2rem;
        min-width: 2rem;
        background-color: #FFFFFF;
        border-radius: 100%;
        margin-right: 0.5rem;

        &::after{
            content: "+";
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
            position: relative;
            top: 3px;
        }
    }
}