@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.back{
    @include heading-sv;
    margin-left: 1.5rem;

    @include mid{
        margin-left: 3.5rem;
    }

    &::before{
        content: url("../../../public/icons/icon-arrow-left.svg");
        margin-right: 1.5rem;
    }
}