@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.filter{
    margin-left: auto;

    &__btn{
        @include heading-sv;
        display: flex;

        &::after{
            display: block;
            content: url("../../../public/icons/icon-arrow-down.svg");
            margin-left: 0.75rem;
        }

        &--rotate{
            &::after{
                transform: rotate(180deg) translateY(25%);
            }
        }
    }
}