@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.main{
    padding-top: 2.25rem;
    width: 87.2%;
    margin: 0 auto;

    @include tablet{
        padding-top: 3.875rem;
    }

    @include desktop{
        padding-top: 4.875rem;
        width: 50.70%;
    }
}